Repository googleapis/java-spanner, pull requests merged in 2021-06, with the labels that each got.

#1228 chore: release gapic-generator-java v1.0.10
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/SpannerClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#385 feat: adds query optimizer statistics support
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementResult.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithNoParametersTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITSqlScriptTest_TestQueryOptions.sql
Labels: api: spanner, cla: yes

#1234 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1236 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1238 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1239 samples: add samples for statistics package
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, cla: yes, samples

#1240 chore: release gapic-generator-java v1.0.11
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/SpannerClientTest.java
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1245 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1246 chore: release gapic-generator-java v1.0.12
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/stub/DatabaseAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/stub/InstanceAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/SpannerStubSettings.java
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1247 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1248 feat(spanner): add processing_units to Instance resource
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClientTest.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/Instance.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceOrBuilder.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/SpannerInstanceAdminProto.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/proto/google/spanner/admin/instance/v1/spanner_instance_admin.proto
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1249 fix: Update dependencies.sh to not break on mac
  .kokoro/dependencies.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1252 chore: release gapic-generator-java v1.0.13
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/BackupName.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/CryptoKeyName.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/CryptoKeyVersionName.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/DatabaseName.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/InstanceName.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceConfigName.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceName.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/ProjectName.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/DatabaseName.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SessionName.java
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#665 feat: add support for instance processing units
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Instance.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/InstanceAdminClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/InstanceInfo.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceAdminClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceInfoTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceTest.java
  samples/snippets/src/test/java/com/example/spanner/SpannerStandaloneExamplesIT.java
Labels: api: spanner, cla: yes

#1253 chore: minimize noise from build scripts
  .kokoro/coerce_logs.sh
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1256 fix: Add `shopt -s nullglob` to dependencies script
  .kokoro/dependencies.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1260 feat: spanner JSON type
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/TypeCode.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/TypeProto.java
  proto-google-cloud-spanner-v1/src/main/proto/google/spanner/v1/type.proto
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1227 feat: add gRPC-GCP channel pool as an option
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/spi/v1/grpc-gcp-apiconfig.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ChannelUsageTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWithGrpcGcpTest.java
Labels: api: spanner, cla: yes

#1251 samples: adds LCI samples
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithProcessingUnitsExample.java
Labels: api: spanner, cla: yes, samples

#1263 feat: support setting an async executor provider
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, cla: yes
