Repository googleapis/java-spanner, pull requests merged in 2021-04, with the labels that each got.

#1030 feat: Support query hints for DML statements
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, cla: yes

#576 feat: add support for tagging
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/PartitionedDmlTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PartitionedDmlTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
Labels: api: spanner, cla: yes

#1036 fix: local connection checker ignores exceptions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/LocalConnectionChecker.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/LocalConnectionCheckerTest.java
Labels: api: spanner, cla: yes

#1038 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1049 build(java): skip javadoc tests during dependencies test
  .kokoro/dependencies.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1051 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1053 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1048 chore: removes googleads PHP monolith builds
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1056 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1058 chore: fixes typo in build
  .kokoro/build.sh
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: partial

#1059 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1066 feat: transaction callable as functional interface
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BackendExhaustedTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadWriteTransactionWithInlineBeginTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerGaxRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchDmlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITClosedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDMLTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
  samples/snippets/src/main/java/com/example/spanner/CustomTimeoutAndRetrySettingsExample.java
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/main/java/com/example/spanner/StatementTimeoutExample.java
Labels: api: spanner, cla: yes

#1068 feat: async work as functional interface
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncAPITest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
  samples/snippets/src/main/java/com/example/spanner/AsyncDmlExample.java
  samples/snippets/src/main/java/com/example/spanner/AsyncRunnerExample.java
Labels: api: spanner, cla: yes

#1064 fix: release scripts from issuing overlapping phases
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1070 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1067 chore: uses lambda syntax for Runnables and Callables
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Operation.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolAsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionContextFutureImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractMultiUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ITSessionPoolIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/LazySpannerInitializerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadWriteTransactionWithInlineBeginTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SelectRandomBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerRetryHelperTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionAsyncApiAbortedTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementTimeoutTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITBulkConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadOnlySpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
  samples/snippets/src/main/java/com/example/spanner/StatementTimeoutExample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1065 chore: add default assignee for issues
  .github/blunderbuss.yml
  synth.py
Labels: api: spanner, automerge, cla: yes

#1071 chore: fixes typos
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseId.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Operation.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Partition.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/PartitionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TimestampBound.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BaseSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OperationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerRetryHelperTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractSqlScriptVerifier.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ITAbstractSpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITCommitTimestampTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITReadWriteAutocommitSpannerTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITSqlScriptTest_TestAutocommitDmlMode.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITSqlScriptTest_TestAutocommitReadOnly.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITSqlScriptTest_TestStatementTimeout.sql
Labels: api: spanner, cla: yes

#1076 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1091 test: exclude progress from comparison
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
Labels: api: spanner, cla: yes

#1094 test: add additional logging to backup pagination test
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: api: spanner, cla: yes

#1073 feat: adds getValue to ResultSet
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Struct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractStructReaderTypesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITResultSetGetValue.java
Labels: api: spanner, cla: yes

#1093 fix: do not keep references to invalidated clients
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
Labels: api: spanner, cla: yes

#1092 test: retry backup operations on failure because of pending operations
  samples/snippets/src/test/java/com/example/spanner/EncryptionKeyIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleRunner.java
Labels: api: spanner, cla: yes

#1083 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1101 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1102 docs: fix javadoc for Date type
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Type.java
Labels: api: spanner, cla: yes

#1100 test: add additional test case for invalidated db clients
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: api: spanner, cla: yes

#1107 fix: prevent NPE in Struct with Array that contains null elements
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
Labels: api: spanner, cla: yes

#1108 test: add a test for selecting an array of structs
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
Labels: api: spanner, cla: yes

#1109 docs: use default timeout for restore operation
  samples/snippets/src/main/java/com/example/spanner/RestoreBackupWithEncryptionKey.java
Labels: api: spanner, cla: yes

#1112 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1110 fix: allow using case-insensitive user-agent key
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1115 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes
