Repository googleapis/java-spanner, pull requests merged in 2021-11, with the labels that each got.

#1537 fix(java): java 17 dependency arguments
  .kokoro/dependencies.sh
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: partial

#1540 chore(java): remove pin on Apache Maven 3.8.1 from github actions
  .github/workflows/ci.yaml
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: full

#1544 chore: move test instance to us-west1 region
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: cla: yes, api: spanner

#1541 Update ci.yaml
  .github/workflows/ci.yaml
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: full

#1542 chore: update Java and Python dependencies
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  grpc-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/DatabaseAdminGrpc.java
  grpc-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceAdminGrpc.java
  grpc-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SpannerGrpc.java
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: full

#1547 chore(deps): upgrade gson to 2.8.9
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: cla: yes, api: spanner

#1549 deps: upgrade gson to 2.8.9
  google-cloud-spanner/pom.xml
Labels: cla: yes, api: spanner, automerge

#1552 test: fixes cmek related tests
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: cla: yes, api: spanner

#1548 feat: support RPC priority for JDBC connections and statements
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DmlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementResult.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RpcPriorityConverterTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ITSqlScriptTest_TestQueryOptions.sql
Labels: cla: yes, api: spanner

#1554 feat: NaNs in Mutations are equal and have the same hashcode
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Mutation.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationTest.java
Labels: cla: yes, api: spanner

#1562 chore: remove enable-samples profile
  .github/workflows/samples.yaml
  .kokoro/build.sh
  pom.xml
  samples/README.md
Labels: cla: yes, api: spanner, samples, owlbot:ignore

#1564 chore: remove enable-samples profile
  CONTRIBUTING.md
  synth.metadata
Labels: cla: yes, api: spanner, context: full, samples
