Repository googleapis/java-spanner, pull requests merged in 2021-10, with the labels that each got.

#1476 chore: mark transaction context as closed after use
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
Labels: cla: yes, api: spanner

#1472 test: skip SpanTest on JDK12 and higher
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
Labels: cla: yes, api: spanner

#1481 chore: mark transaction context as closed after use
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
Labels: cla: yes, api: spanner

#1485 fix: keep track of any BeginTransaction option for a Read
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
Labels: cla: yes, api: spanner

#1484 chore: update protected branches ci / releases
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: spanner

#1462 build: add jdk 17 to java units and dependency builds
  .github/workflows/ci.yaml
  .kokoro/dependencies.sh
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: full, context: partial

#1496 samples: add transaction / request tagging samples
  samples/snippets/src/main/java/com/example/spanner/TagSample.java
  samples/snippets/src/test/java/com/example/spanner/TagSampleIT.java
Labels: cla: yes, api: spanner, samples

#1500 feat: Introduce Native Image testing build script changes
  .kokoro/presubmit/graalvm-native.cfg
  synth.metadata
Labels: cla: yes, api: spanner, context: full

#1509 test: move backup tests into slow tests category
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrUpdateDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/slow/ITBackupTest.java
Labels: cla: yes, api: spanner
