Repository googleapis/java-spanner, pull requests merged in 2021-07, with the labels that each got.

#1261 chore: regenerate DatabaseAdminClient
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: none

#1266 samples: updates lci samples
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithProcessingUnitsExample.java
Labels: api: spanner, cla: yes, samples

#1275 test: increase timeout and enable tests on emulator
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
Labels: api: spanner, cla: yes

#1274 test: use separate instance for encrypted backup test
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1271 feat(spanner): add leader_options to InstanceConfig and default_leader to Database
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClientTest.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/Database.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/DatabaseOrBuilder.java
  proto-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/SpannerDatabaseAdminProto.java
  proto-google-cloud-spanner-admin-database-v1/src/main/proto/google/spanner/admin/database/v1/spanner_database_admin.proto
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceConfig.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceConfigOrBuilder.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/SpannerInstanceAdminProto.java
  proto-google-cloud-spanner-admin-instance-v1/src/main/proto/google/spanner/admin/instance/v1/spanner_instance_admin.proto
  synth.metadata
Labels: api: spanner, cla: yes, context: partial

#623 feat: add support for tagging to Connection API
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DmlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/RetriableBatchUpdate.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/RetriableUpdate.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementResult.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbortedTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplAutocommitReadOnlyTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplAutocommitReadWriteTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTransactionalReadOnlyTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTransactionalReadWriteTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/TaggingTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, automerge, cla: yes

#1276 chore: release gapic-generator-java v1.0.16
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1257 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1286 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1284 fix: shorten the test instance name
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1290 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1288 chore: remove distributionManagement section
  pom.xml
Labels: api: spanner, cla: yes

#1292 test: delete backups before instance
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#857 test: adds test for numeric as primary key
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
Labels: api: spanner, cla: yes

#1293 chore: remove distributionManagement section
  google-cloud-spanner-bom/pom.xml
Labels: api: spanner, automerge, cla: yes

#1296 chore: remove All rights reserved clause from java.header
  java.header
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1295 test: retry backup deletion if optimization is still pending
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1297 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1283 feat: exposes default leader in database, and leader options / replicas in instance config
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Database.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/InstanceConfig.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/InstanceConfigInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ReplicaInfo.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceAdminGaxTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceConfigTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReplicaInfoTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReplicaTypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
Labels: api: spanner, cla: yes

#1301 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1305 chore: update renovate.json
  renovate.json
Labels: api: spanner, automerge, cla: yes

#1308 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1287 chore: autosynth
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: none

#1311 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1314 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1313 docs: use 'latest' stats package in samples to prevent build failures
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, cla: yes, samples

#1318 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1312 chore: autosynth
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  renovate.json
  synth.metadata
Labels: api: spanner, cla: yes, context: none

#1323 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1319 chore: add ci task to compile samples
  .github/sync-repo-settings.yaml
  .github/workflows/samples.yaml
  synth.py
Labels: api: spanner, cla: yes, samples

#1316 refactor: refactor sample tests
  samples/snippets/src/main/java/com/example/spanner/CreateDatabaseWithEncryptionKey.java
  samples/snippets/src/test/java/com/example/spanner/AsyncExamplesIT.java
  samples/snippets/src/test/java/com/example/spanner/CreateDatabaseWithVersionRetentionPeriodSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/DatabaseIdGenerator.java
  samples/snippets/src/test/java/com/example/spanner/EncryptionKeyIT.java
  samples/snippets/src/test/java/com/example/spanner/GetCommitStatsSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleIdGenerator.java
  samples/snippets/src/test/java/com/example/spanner/SampleRunner.java
  samples/snippets/src/test/java/com/example/spanner/SampleTestBase.java
Labels: api: spanner, cla: yes, samples

#1324 tests: value test fix
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
Labels: api: spanner, cla: yes
