Repository googleapis/java-spanner, pull requests merged in 2021-01, with the labels that each got.

#764 docs: cleanup inner region tags
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, automerge, cla: yes

#767 docs: documents resume on update database ddl
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
Labels: api: spanner, cla: yes

#761 fix: grpc-alts is used not only in tests
  google-cloud-spanner/pom.xml
Labels: api: spanner, cla: yes

#773 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#707 docs: add sample for timeout for one RPC
  samples/snippets/src/main/java/com/example/spanner/StatementTimeoutExample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerStandaloneExamplesIT.java
Labels: api: spanner, cla: yes, samples

#776 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#770 feat: attempt DirectPath by default
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GceTestEnvConfig.java
Labels: api: spanner, cla: yes

#769 chore: update gapic-generator-java to 0.0.16
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/SpannerClientTest.java
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#779 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#780 fix: Set up DirectPath e2e tests correctly
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GceTestEnvConfig.java
Labels: api: spanner, cla: yes

#783 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#786 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#788 chore: update gapic-generator-java to 0.0.18
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/stub/DatabaseAdminStub.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/stub/DatabaseAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/stub/GrpcDatabaseAdminCallableFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/stub/GrpcInstanceAdminCallableFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/stub/InstanceAdminStub.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/stub/InstanceAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/SpannerClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/GrpcSpannerCallableFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/SpannerStub.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/SpannerStubSettings.java
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#791 fix: mark transaction as invalid if no tx is returned before close
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
Labels: api: spanner, cla: yes

#792 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#795 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#766 fix: remove time series before adding it
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, cla: yes

#797 fix: blanks span for session keepAlive traces
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, cla: yes

#801 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#800 fix: safeguard against statement errors when requesting a transaction
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
Labels: api: spanner, cla: yes

#805 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#807 fix: UNAVAILABLE error on first query could cause transaction to get stuck
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
Labels: api: spanner, cla: yes

#784 fix: closes pool maintainer on invalidation
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, cla: yes

#798 test: fixes DatabaseClientImpl stuck test
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: api: spanner, cla: yes

#809 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#810 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#813 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#814 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#817 feat: add option for returning Spanner commit stats
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/SpannerClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/SpannerClientTest.java
  grpc-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SpannerGrpc.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitResponse.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitResponseOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteSqlRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteSqlRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/Session.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SessionOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SpannerProto.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/StructType.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/TransactionOptions.java
  proto-google-cloud-spanner-v1/src/main/proto/google/spanner/v1/spanner.proto
  proto-google-cloud-spanner-v1/src/main/proto/google/spanner/v1/transaction.proto
  proto-google-cloud-spanner-v1/src/main/proto/google/spanner/v1/type.proto
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#815 chore: warns of transactions bug
  CHANGELOG.md
Labels: api: spanner, cla: yes

#820 chore: adding docfx doclet resource
  .kokoro/release/publish_javadoc.cfg
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#823 build: add 3.1.x branch as protected and releasable
  .github/release-please.yml
  .github/sync-repo-settings.yaml
  synth.py
Labels: api: spanner, cla: yes

#826 build: migrate to flakybot
  .kokoro/build.sh
Labels: api: spanner, automerge, cla: yes

#821 feat: allow session pool settings in connection url
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SpannerPoolTest.java
Labels: api: spanner, cla: yes

#832 test: remove write fraction from test
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
Labels: api: spanner, cla: yes, type: cleanup

#833 test: reduce number of stress test runs
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplStressTest.java
Labels: api: spanner, cla: yes, type: cleanup

#836 test: skip timeout tests for non-idempotent methods
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceAdminGaxTest.java
Labels: api: spanner, cla: yes, type: cleanup

#834 test: unflake testCloseResultSetWhileRequestInFlight
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
Labels: api: spanner, cla: yes, type: cleanup
