Repository googleapis/java-spanner, pull requests merged in 2021-12, with the labels that each got.

#1567 chore: auto-assign issues to new repo owner
  .github/blunderbuss.yml
Labels: cla: yes, api: spanner

#1569 chore: migrate to owlbot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  README.md
  google-cloud-spanner-bom/pom.xml
  google-cloud-spanner/pom.xml
  owlbot.py
  pom.xml
  synth.py
  versions.txt
Labels: cla: yes, api: spanner

#1576 chore: make owlbot check required
  .github/sync-repo-settings.yaml
  README.md
Labels: api: spanner, automerge

#1590 deps: bump OpenCensus API to 0.29
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1596 fix: re-adds test-jar to bom definition
  .repo-metadata.json
  google-cloud-spanner-bom/pom.xml
Labels: api: spanner

#1598 deps: bump OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1604 deps(6.4.4-sp): update OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1605 deps(6.14.x): update OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1602 deps(5.2.x): update OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1600 deps(3.1.x): update OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1610 deps(3.3.x): update OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1601 deps(4.0.x): bump OpenCensus API to 0.30.0
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner

#1622 chore: add enumeration type of library
  .repo-metadata.json
Labels: api: spanner, automerge
