Repository googleapis/java-spanner, pull requests merged in 2021-09, with the labels that each got.

#1404 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: cla: yes, api: spanner, automerge

#1401 fix: drop databases after sample tests
  samples/snippets/src/test/java/com/example/spanner/SampleTestBase.java
Labels: cla: yes, api: spanner, samples

#1407 chore(java): install maven 3.8.1 at runtime
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  synth.metadata
Labels: cla: yes, api: spanner, context: full

#1408 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: cla: yes, api: spanner, automerge

#1409 chore: configure backups test to run in nightly build
  .kokoro/build.sh
  .kokoro/nightly/slow-tests.cfg
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ITSessionPoolIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/categories/IntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/categories/ParallelIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/categories/SerialIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/categories/SlowTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/categories/TracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITAsyncTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITBulkConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITCommitResponseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITDdlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadOnlySpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadWriteAutocommitSpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITSqlMusicScriptTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITSqlScriptTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionModeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncAPITest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchDmlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITClosedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITCommitTimestampTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDMLTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDirectPathFallback.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITJsonWriteReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITLargeReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrCreateDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrUpdateDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadOnlyTxnTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITResultSetGetValue.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITSpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITVPCNegativeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWithGrpcGcpTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/slow/ITBackupTest.java
  synth.py
Labels: cla: yes, api: spanner

#1412 chore(java): update windows build
  .github/workflows/ci.yaml
  synth.metadata
Labels: cla: yes, api: spanner, context: full

#1416 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: spanner, automerge

#1417 fix: fix JSON sample test
  samples/snippets/src/main/java/com/example/spanner/QueryWithJsonParameterSample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerStandaloneExamplesIT.java
Labels: cla: yes, api: spanner, samples

#1419 fix: revert test category refactoring
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/FlakyTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ITSessionPoolIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ParallelIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SerialIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SlowTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITAsyncTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITBulkConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITCommitResponseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITDdlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadOnlySpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadWriteAutocommitSpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITSqlMusicScriptTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITSqlScriptTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionModeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncAPITest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchDmlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITClosedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITCommitTimestampTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDMLTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDirectPathFallback.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITInstanceAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITJsonWriteReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITLargeReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrCreateDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrUpdateDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadOnlyTxnTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITResultSetGetValue.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITSpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITVPCNegativeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWithGrpcGcpTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/slow/ITBackupTest.java
Labels: cla: yes, api: spanner

#1418 chore: re-generated to pick up changes from self
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: spanner, context: none

#1423 chore(java): update shared-config and shared-dependencies version in pom template
  .kokoro/release/common.sh
  .kokoro/release/drop.sh
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/stage.sh
  .kokoro/trampoline.sh
  synth.metadata
Labels: cla: yes, api: spanner, automerge, context: full

#1426 fix: do not serialize unnecessary fields
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementImpl.java
Labels: cla: yes, api: spanner

#1440 chore: increase integration tests timeout
  google-cloud-spanner/pom.xml
Labels: cla: yes, api: spanner

#1438 fix: sessions were not always removed from checkedOutSessions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: cla: yes, api: spanner

#1441 chore: remove readme autosynth config
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: spanner, automerge

#1444 chore(java): remove dependencyDashboardLabel config from renovate.json
  renovate.json
  synth.metadata
Labels: cla: yes, api: spanner, context: full

#1360 chore: update gapic-generator-java version to 2.1.0
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/stub/DatabaseAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/stub/InstanceAdminStubSettings.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/SpannerStubSettings.java
  synth.metadata
Labels: cla: yes, api: spanner, context: full

#1458 chore: fix failsafe plugin hanging
  .kokoro/build.sh
  google-cloud-spanner/pom.xml
Labels: cla: yes, api: spanner

#1463 build: configure release-please should tag releases
  .github/release-please.yml
Labels: cla: yes, api: spanner, automerge

#1445 fix(6.4.4-sp): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1451 fix(3.1.x): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1448 fix(4.0.x): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1447 fix(5.2.x): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1449 fix(3.3.3-sp): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1450 fix(3.3.x): sessions were not always removed from checkedOutSessions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: cla: yes, api: spanner

#1474 chore: change branch master to main in github configurations
  .github/blunderbuss.yml
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  README.md
Labels: cla: yes, api: spanner, automerge
