Repository googleapis/java-spanner, pull requests merged in 2021-05, with the labels that each got.

#1117 test: retry backup operation 20 times
  samples/snippets/src/test/java/com/example/spanner/EncryptionKeyIT.java
Labels: api: spanner, cla: yes

#1121 fix(4.0.x): allows setting custom user agent in any case
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1122 fix(5.2.x): allows setting custom user agent in any case
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1116 docs: close Spanner instance when it is no longer needed
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceExample.java
Labels: api: spanner, cla: yes

#1120 test(3.1.x): adds test for setting custom user-agent
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1123 chore: adds branch 3.3.x as stable
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes

#1134 test: move begin() outside retry loop
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: api: spanner, cla: yes

#1139 chore: use assertThrows with lambda instead of try-catch
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractStructReaderTypesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BackupIdTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BackupTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseAdminClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseIdTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceConfigIdTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceIdTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/KeyRangeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/LazySpannerInitializerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OperationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PartitionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PartitionedDmlTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadWriteTransactionWithInlineBeginTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerApiFuturesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerGaxRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerRetryHelperTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/StatementTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TimestampBoundTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
Labels: api: spanner, cla: yes

#1129 fix(3.3.x): allows setting custom user agent in any case
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1144 chore: adding cloud-rad java xrefs
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#1146 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1153 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1156 chore(3.3.3-sp): configure initial sp version
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
Labels: api: spanner, cla: yes

#1164 chore: removes clirr/linkage-monitor from 3.3.3-sp
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes

#1168 build(java): remove codecov action
  .github/workflows/ci.yaml
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1178 fix: re-adds test utility method for connection
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractSqlScriptVerifier.java
Labels: api: spanner, cla: yes

#1181 fix: re-adds test method verifyStatementsInFile
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractSqlScriptVerifier.java
Labels: api: spanner, cla: yes

#1169 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1187 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1184 test: move encrypted tests to monolith tests
  samples/snippets/src/test/java/com/example/spanner/EncryptionKeyIT.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1189 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1190 chore: add changelog to cloud-rad
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1185 test: verify that callback is not called while paused
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
Labels: api: spanner, cla: yes

#1145 feat: add bufferAsync methods
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionContextImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionContextTest.java
Labels: api: spanner, cla: yes

#1192 fix: stop invoking callback after pausing and cancelling result set
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSetImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
Labels: api: spanner, cla: yes

#1195 test: increase operation timeout to prevent flaky failures
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrUpdateDatabaseTest.java
Labels: api: spanner, automerge, cla: yes

#1196 feat: add `gcf-owl-bot[bot]` to `ignoreAuthors`
  .github/generated-files-bot.yml
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1199 chore: dump maven version along with java
  .kokoro/build.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#1200 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1201 test: add tests for parsing VIEW DDL statements
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, cla: yes

#1203 test: await commit until tx is aborted
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, cla: yes

#1205 test: increase timeout to prevent flakiness
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplStressTest.java
Labels: api: spanner, cla: yes

#1207 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1209 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1212 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1214 docs: document retry settings in sample
  samples/snippets/src/main/java/com/example/spanner/CustomTimeoutAndRetrySettingsExample.java
Labels: api: spanner, cla: yes, samples

#1215 test: backup operation could finish before it is cancelled
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes

#1218 test: empty queue before check to prevent flaky failures
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
Labels: api: spanner, cla: yes

#1219 test: increase wait for threads to shut down
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, cla: yes

#1223 feat: support encoded credentials in connection URL
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/CredentialsService.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, cla: yes
