Repository googleapis/java-spanner, pull requests merged in 2021-03, with the labels that each got.

#928 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#921 samples: PITR samples backup fix
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, cla: yes, samples

#929 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#926 deprecation: deprecate MaxIdleSessions configuration option
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
Labels: api: spanner, cla: yes

#925 feat: add client lib token for Liquibase
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
Labels: api: spanner, cla: yes

#930 samples: parameterises create backup version time
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, cla: yes, samples

#932 chore: remove docLava v2 doc generation
  .kokoro/release/publish_javadoc.cfg
  .kokoro/release/publish_javadoc.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#934 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#936 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#937 chore: copy README to docfx-yml dir
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: full

#939 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#837 feat: adds samples for PITR
  samples/snippets/src/main/java/com/example/spanner/CreateDatabaseWithVersionRetentionPeriodSample.java
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/CreateDatabaseWithVersionRetentionPeriodSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, cla: yes, samples

#940 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#892 test: un-skip pitr backup and restore tests
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrBackupAndRestore.java
Labels: api: spanner, cla: yes

#956 test: moves PITR backup tests
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPitrBackupAndRestore.java
Labels: api: spanner, cla: yes

#960 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#941 chore: re-generates database admin client
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, cla: yes, context: none

#952 test: enable timeout test on emulator
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITReadWriteAutocommitSpannerTest.java
Labels: api: spanner, cla: yes

#950 fix: all throwables should be ignored in shutdown hook
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
Labels: api: spanner, cla: yes

#931 feat: add autoConfigEmulator connection option
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/EmulatorUtil.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/EmulatorUtilTest.java
Labels: api: spanner, automerge, cla: yes

#942 chore: update Java microgenerator
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/instance/v1/InstanceAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/SpannerClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/MockDatabaseAdminImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/instance/v1/MockInstanceAdminImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/MockSpannerImpl.java
  grpc-google-cloud-spanner-admin-database-v1/src/main/java/com/google/spanner/admin/database/v1/DatabaseAdminGrpc.java
  grpc-google-cloud-spanner-admin-instance-v1/src/main/java/com/google/spanner/admin/instance/v1/InstanceAdminGrpc.java
  grpc-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SpannerGrpc.java
  synth.metadata
Labels: api: spanner, cla: yes, context: partial

#986 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#945 build(java): update autorelease title check in response to the new multi release branch changes
  .github/workflows/auto-release.yaml
  synth.metadata
Labels: api: spanner, cla: yes, context: full

#988 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#954 chore: marks the branch 4.0.x as stable
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes

#990 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#991 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#666 feat!: customer-managed encryption keys for Spanner
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Backup.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BackupInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Database.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Restore.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/BackupEncryptionConfig.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/CustomerManagedEncryption.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/EncryptionConfigProtoMapper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/EncryptionConfigs.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/EncryptionInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/GoogleDefaultEncryption.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/RestoreEncryptionConfig.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/UseBackupEncryption.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/UseDatabaseEncryption.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BackupTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseAdminClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RestoreTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/encryption/CustomerManagedEncryptionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/encryption/EncryptionConfigProtoMapperTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/encryption/EncryptionConfigsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/encryption/EncryptionInfoTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: api: spanner, cla: yes

#946 feat!: drops support of Java 7
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .kokoro/nightly/java7.cfg
  .kokoro/presubmit/java7.cfg
  CONTRIBUTING.md
  README.md
Labels: api: spanner, cla: yes

#984 feat!: add closeAsync() method to Connection
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
Labels: api: spanner, cla: yes

#993 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#983 test: fail if the same token is seen twice
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
Labels: api: spanner, automerge, cla: yes

#999 fix: retry cancelled error on first statement in transaction
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
Labels: api: spanner, automerge, cla: yes

#1007 [CHANGE ME] Re-generated to pick up changes from googleapis.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/SpannerClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/v1/SpannerClientTest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/BeginTransactionRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/BeginTransactionRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/CommitRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteBatchDmlRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteBatchDmlRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteSqlRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ExecuteSqlRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ReadRequest.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/ReadRequestOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/RequestOptions.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/RequestOptionsOrBuilder.java
  proto-google-cloud-spanner-v1/src/main/java/com/google/spanner/v1/SpannerProto.java
  proto-google-cloud-spanner-v1/src/main/proto/google/spanner/v1/spanner.proto
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: partial

#1003 chore: configures project pom to java 8
  google-cloud-spanner-bom/pom.xml
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerApiFuturesTest.java
  pom.xml
Labels: api: spanner, cla: yes

#1012 Update cloudshell editor link and runtime directory
  samples/README.md
Labels: api: spanner, cla: yes

#1009 fix: transaction retries should not timeout
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerRetryHelper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerRetryHelperTest.java
Labels: api: spanner, cla: yes

#1002 chore: updates settings for 5.2.x branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes

#989 samples: adds samples for CMEK
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBackupTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/spanner/CreateBackupWithEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/CreateDatabaseWithEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/RestoreBackupWithEncryptionKey.java
  samples/snippets/src/test/java/com/example/spanner/DatabaseIdGenerator.java
  samples/snippets/src/test/java/com/example/spanner/EncryptionKeyIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleRunner.java
Labels: api: spanner, cla: yes, samples

#1011 docs: improve error messages
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/CredentialsService.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/LocalConnectionChecker.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, cla: yes

#1016 chore: sets the min version of the repo as Java 8
  .repo-metadata.json
Labels: api: spanner, cla: yes

#1020 fix: plain text when testing emulator connection
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/LocalConnectionChecker.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerTestUtil.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/LocalConnectionCheckerTest.java
Labels: api: spanner, cla: yes

#1023 chore: Re-generated to pick up changes from synthtool
  .github/workflows/ci.yaml
  .kokoro/build.sh
  .kokoro/nightly/java7.cfg
  .kokoro/presubmit/java7.cfg
  .kokoro/release/publish_javadoc.sh
  CONTRIBUTING.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/admin/database/v1/DatabaseAdminClientTest.java
  synth.metadata
Labels: api: spanner, automerge, cla: yes, context: partial

#995 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, cla: yes

#1026 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: spanner, automerge, cla: yes

#1027 chore(ci): removing linkage monitor from 4.0.x branch
  .github/workflows/ci.yaml
Labels: api: spanner, cla: yes

#676 feat: support RPC priority
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/PartitionedDmlTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PartitionedDmlTransactionTest.java
Labels: api: spanner, cla: yes
