Repository googleapis/java-spanner, pull requests merged in 2022-04, with the labels that each got.

#1806 Copy backup samples
  samples/snippets/src/main/java/com/example/spanner/CopyBackupSample.java
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, samples

#1809 refactor: typo fix in maxSessions variable doc string.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
Labels: api: spanner

#1700 docs: add samples for PostgreSQL
  README.md
  samples/snippets/src/main/java/com/example/spanner/PgBatchDmlSample.java
  samples/snippets/src/main/java/com/example/spanner/PgCaseSensitivitySample.java
  samples/snippets/src/main/java/com/example/spanner/PgInterleavedTableSample.java
  samples/snippets/src/main/java/com/example/spanner/PgPartitionedDmlSample.java
  samples/snippets/src/test/java/com/example/spanner/PgBatchDmlSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/PgCaseSensitivitySampleIT.java
  samples/snippets/src/test/java/com/example/spanner/PgInterleavedTableSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/PgPartitionedDmlSampleIT.java
Labels: api: spanner, automerge, samples, size: l

#1802 feat: Copy backup samples
  README.md
  samples/snippets/src/main/java/com/example/spanner/CopyBackupSample.java
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, samples, size: m

#1853 test: use an AtomicInteger for dbseq
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/testing/RemoteSpannerHelper.java
Labels: api: spanner, size: s

#1849 chore: include client statement type in parsed statement
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatement.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementImpl.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ClientSideStatementsTest.java
Labels: api: spanner, automerge, size: m

#1861 test: drop old databases from instance before running integration tests.
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
Labels: api: spanner, size: s
