Repository googleapis/java-spanner, pull requests merged in 2022-11, with the labels that each got.

#2147 feat: adding samples for Jsonb data type
  README.md
  samples/snippets/src/main/java/com/example/spanner/AddJsonbColumnSample.java
  samples/snippets/src/main/java/com/example/spanner/QueryWithJsonbParameterSample.java
  samples/snippets/src/main/java/com/example/spanner/UpdateJsonbDataSample.java
  samples/snippets/src/test/java/com/example/spanner/PgSpannerStandaloneExamplesIT.java
Labels: api: spanner, samples, size: l

#2151 chore: skip enforcer check on gRPC dependency (6.4.4-sp branch)
  pom.xml
Labels: api: spanner, automerge, size: s

#1910 test: add integration tests in client for DML Returning
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionContext.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDmlReturningTest.java
Labels: api: spanner, automerge, size: l

#1978 feat: support DML with Returning clause in Connection API
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbortedTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITDmlReturningTest.java
Labels: api: spanner, automerge, size: xl

#2156 feat: analyze update returns param types
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSetImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/NoRowsResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DmlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AnalyzeStatementsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectExecuteResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSetTest.java
Labels: api: spanner, size: l

#2007 samples: DML with Returning clause support
  README.md
  samples/snippets/src/main/java/com/example/spanner/DeleteUsingDmlReturningSample.java
  samples/snippets/src/main/java/com/example/spanner/InsertUsingDmlReturningSample.java
  samples/snippets/src/main/java/com/example/spanner/PgDeleteUsingDmlReturningSample.java
  samples/snippets/src/main/java/com/example/spanner/PgInsertUsingDmlReturningSample.java
  samples/snippets/src/main/java/com/example/spanner/PgSpannerSample.java
  samples/snippets/src/main/java/com/example/spanner/PgUpdateUsingDmlReturningSample.java
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
  samples/snippets/src/main/java/com/example/spanner/UpdateUsingDmlReturningSample.java
  samples/snippets/src/test/java/com/example/spanner/DmlReturningSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/PgDmlReturningSampleIT.java
Labels: api: spanner, samples, size: l
