Repository googleapis/java-spanner, pull requests merged in 2022-05, with the labels that each got.

#1868 test: support PostgreSQL dialect for RandomResultsGenerator
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
Labels: api: spanner, size: m

#1869 feat: support CredentialsProvider in Connection API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/CredentialsProviderTest.java
Labels: api: spanner, size: l

#1879 feat: support analyze DDL statement
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, size: m

#1890 ci: ci to build with JDK 11 (cont.)
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/samples.yaml
  .kokoro/build.sh
  .kokoro/common.sh
  .kokoro/dependencies.sh
  owlbot.py
Labels: api: spanner, size: m

#1887 fix: gracefully ignore RejectedExecutionException during Connection#close()
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
Labels: api: spanner, size: s
