Repository googleapis/java-spanner, pull requests merged in 2022-10, with the labels that each got.

#2085 samples: add support for CMMR Phase 2
  README.md
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceConfigSample.java
  samples/snippets/src/main/java/com/example/spanner/DeleteInstanceConfigSample.java
  samples/snippets/src/main/java/com/example/spanner/ListInstanceConfigOperationsSample.java
  samples/snippets/src/main/java/com/example/spanner/UpdateInstanceConfigSample.java
  samples/snippets/src/test/java/com/example/spanner/CustomInstanceConfigSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleIdGenerator.java
  samples/snippets/src/test/java/com/example/spanner/SampleTestBase.java
Labels: api: spanner, automerge, samples, size: l

#2108 refactor: Removing redundant type checks in Value
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
Labels: kokoro:force-run, api: spanner, size: s

#2117 feat: enable client to server compression
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ChannelUsageTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, automerge, size: m
