Repository googleapis/java-spanner, pull requests merged in 2022-09, with the labels that each got.

#1996 refactor: Removing duplicate calls to set expiration time
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/slow/ITBackupTest.java
Labels: api: spanner, size: xs

#2010 fix: retries of updates in the Connection API ignored analyze mode
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/RetriableUpdate.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbortedTest.java
Labels: api: spanner, size: m

#2011 test: Adding additional assert checks for exception being thrown for invalid json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITJsonWriteReadTest.java
Labels: api: spanner, size: s

#2012 test: Passing correct InstanceID for encrypted instance
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, size: xs

#2033 ci: configure the protected branch
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
Labels: api: spanner, size: m

#2032 chore: setting up 6.23.x branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
  README.md
Labels: api: spanner, size: s

#2084 test: skip SpanTest when NoSuchFieldException
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
Labels: api: spanner, size: s
