Repository googleapis/java-spanner, pull requests merged in 2023-10, with the labels that each got.

#2506 samples: add support for BatchWriteAtLeastOnce
  README.md
  samples/snippets/src/main/java/com/example/spanner/BatchWriteAtLeastOnceSample.java
  samples/snippets/src/test/java/com/example/spanner/BatchWriteAtLeastOnceSampleIT.java
Labels: api: spanner, samples, size: m

#2632 feat: support setting core pool size for async API in system property
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, automerge, size: m

#2656 chore: add a system property to set session pool ordering
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: m

#2657 chore: rename system property for core threads for Async API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, size: xs

#2663 test: swap expected and actual values in DML returning tests.
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDmlReturningTest.java
Labels: api: spanner, size: m

#2662 fix: Noop in case there is no change in autocommit value for setAutocommit() method
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
Labels: api: spanner, size: m

#2673 chore: remove temp exclusion
  README.md
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner/pom.xml
Labels: api: spanner, size: s

#2676 fix: always include default client lib header
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, size: s

#2681 chore: remove double client lib token header
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, size: m

#2696 feat: rely on graal-sdk version declaration from property in java-shared-config
  google-cloud-spanner/pom.xml
Labels: api: spanner, size: xs
