Repository googleapis/java-spanner, pull requests merged in 2023-08, with the labels that each got.

#2419 feat: long running transaction clean up background task. Adding configuration options for closing inactive transactions.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: xl

#2556 chore: refactor client side statements to accept the entire parsed statement
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatement.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementExplainExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementNoParamExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementPgBeginExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementSetExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/BeginPgTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithNoParametersTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SetPgSessionCharacteristicsTest.java
Labels: api: spanner, size: m

#2559 samples: Bit Reversed Sequence support
  README.md
  samples/snippets/src/main/java/com/example/spanner/AlterSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/CreateSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/DropSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/PgAlterSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/PgCreateSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/PgDropSequenceSample.java
  samples/snippets/src/test/java/com/example/spanner/SequenceSampleIT.java
Labels: api: spanner, automerge, samples, size: l

#2567 feat: Enable leader aware routing by default
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, automerge, size: xs

#2308 feat: Leader Aware Routing in Connection API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SpannerPoolTest.java
Labels: do not merge, api: spanner, size: m

#2569 Batch read connection api native adjustments
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/nativeimage/SpannerFeature.java
Labels: api: spanner, size: s

#2584 build: remove native image tests from required checks
  .github/sync-repo-settings.yaml
  .kokoro/build.sh
  README.md
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnvTest.java
Labels: api: spanner, size: m

#2580 fix: always allow metadata queries
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/InternalMetadataQueryMockServerTest.java
Labels: api: spanner, size: l

#2588 fix: getColumnCount would fail for empty partititioned result sets
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/MergedResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/MergedResultSetTest.java
Labels: api: spanner, size: s

#2579 fix: use streaming read/query settings for stream retry
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: l

#2599 docs: add sample for transaction timeouts
  README.md
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/spanner/TransactionTimeoutExample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerStandaloneExamplesIT.java
Labels: api: spanner, automerge, samples, size: m

#2604 chore: allow comments in PG strings
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, size: l
