Repository googleapis/java-spanner, pull requests merged in 2023-06, with the labels that each got.

#2512 deps: update dependency com.google.cloud:google-cloud-shared-dependencies to v3.12.0.with temp exclusions.
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner/pom.xml
  pom.xml
Labels: api: spanner, size: s

#2479 fix: recognize ABORT statements for PostgreSQL
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ClientSideStatementsTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#2498 docs: add background info for session pool
  .readme-partials.yaml
  README.md
  session-and-channel-pool-configuration.md
Labels: api: spanner, size: l
