Repository googleapis/java-spanner, pull requests merged in 2023-12, with the labels that each got.

#2754 feat: update OwlBot.yaml file to pull autogenerated executor code
  .github/.OwlBot.yaml
  README.md
Labels: api: spanner, size: s

#2758 chore: Update ci.yaml to setup Java 21 unit testing
  .github/workflows/ci.yaml
Labels: api: spanner, size: xs

#2759 test: refactor executor code with autogenerated protos
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner/pom.xml
Labels: api: spanner, size: xs

#2635 chore: allow non-default service account for DP
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/CredentialsProviderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GfeLatencyTest.java
Labels: api: spanner, size: m

#2763 chore: add method for getting the backend type name
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Dialect.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Type.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
Labels: api: spanner, size: l
