Repository googleapis/java-spanner, pull requests merged in 2023-07, with the labels that each got.

#2340 feat: foreign key on delete cascade
  README.md
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITForeignKeyDeleteCascadeTest.java
  samples/snippets/src/main/java/com/example/spanner/AlterTableWithForeignKeyDeleteCascadeSample.java
  samples/snippets/src/main/java/com/example/spanner/CreateTableWithForeignKeyDeleteCascadeSample.java
  samples/snippets/src/main/java/com/example/spanner/DropForeignKeyConstraintDeleteCascadeSample.java
  samples/snippets/src/test/java/com/example/spanner/AlterTableWithForeignKeyDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/CreateTableWithForeignKeyDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/DropForeignKeyConstraintDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleTestBase.java
Labels: api: spanner, size: l

#2532 fix: add imports used in sample files.
  samples/snippets/src/test/java/com/example/spanner/UpdateDatabaseSampleIT.java
Labels: api: spanner, automerge, samples, size: xs

#2538 feat: Enable leader aware routing by default
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, automerge, size: xs

#2536 docs: fixing errors
  .github/sync-repo-settings.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractLazyInitializer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/InstanceConfigInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Operation.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Session.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TimestampBound.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ValueBinder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InstanceAdminClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractSqlScriptVerifier.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SqlScriptVerifier.java
Labels: api: spanner, automerge, size: l

#2547 Revert "feat: Enable leader aware routing by default"
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, automerge, size: xs

#2558 chore: update owner to arpan14
  .github/blunderbuss.yml
Labels: api: spanner, automerge, size: xs
