Repository googleapis/java-spanner, pull requests merged in 2023-05, with the labels that each got.

#2414 fix: use javax.annotation.Nonnull in executor framework
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: s

#2265 feat: add support for UpdateDatabase in Cloud Spanner
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Database.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseInfo.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/encryption/CustomerManagedEncryption.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseAdminClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
Labels: api: spanner, size: l

#2346 samples: add support for updateDatabase in Cloud Spanner
  README.md
  samples/snippets/src/main/java/com/example/spanner/UpdateDatabaseSample.java
  samples/snippets/src/test/java/com/example/spanner/UpdateDatabaseSampleIT.java
Labels: api: spanner, automerge, samples, size: m

#2440 test: simplifying Java 8 test via jvm property
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .kokoro/build.sh
Labels: api: spanner, automerge, size: m

#2463 samples: Modifying BatchSample to add snippet with databoost
  README.md
  samples/snippets/src/main/java/com/example/spanner/BatchSample.java
Labels: api: spanner, samples, size: s
