Repository googleapis/java-spanner, pull requests merged in 2023-11, with the labels that each got.

#2730 fix: respect SPANNER_EMULATOR_HOST env var when autoConfigEmulator=true
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, size: m

#2738 test: remove partition token from tests
  README.md
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#2709 feat: Add java sample for managed autoscaler
  README.md
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithAutoscalingConfigExample.java
  samples/snippets/src/test/java/com/example/spanner/CreateInstanceWithAutoscalingConfigSampleIT.java
Labels: api: spanner, automerge, samples, size: m
