Repository googleapis/java-spanner, pull requests merged in 2024-10, with the labels that each got.

#3363 chore: check that the session has a lastUseTime
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, size: xs

#3303 chore: turn off autosavepoints by default
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITEmulatorConcurrentTransactionsTest.java
Labels: api: spanner, size: m

#3373 chore: increase retry limit on emulator
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
Labels: api: spanner, size: xs

#3359 chore: location for gke
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
Labels: api: spanner, automerge, size: xs

#3357 chore: Add client_hash metric attribute
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProviderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: kokoro:force-run, api: spanner, automerge, size: m

#3381 chore(spanner): add R/W multiplexed session support
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractMultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedAsyncRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedAsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedMultiplexedSessionTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedTransactionRunner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, automerge, size: l

#3348 chore(spanner): preserving lock order - R/W mux session
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
Labels: api: spanner, automerge, size: l

#3415 chore: fix built in client metric data
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, automerge, size: s

#3411 chore(spanner): track precommit token for R/W multiplexed session
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcValueIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsHelper.java
Labels: api: spanner, automerge, size: l

#3412 feat: Enabling endToEndTracing support in Connection API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SpannerPoolTest.java
Labels: api: spanner, size: m

#3287 docs: fix tracing sample to exit when completed, and use custom monitored resource for export
  README.md
  samples/snippets/src/main/java/com/example/spanner/TracingSample.java
Labels: api: spanner, samples, size: s

#3423 chore(spanner): support mutation only operation for read-write mux
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Mutation.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MutationGroup.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationGroupTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PgNumericTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: l
