Repository googleapis/java-spanner, pull requests merged in 2024-12, with the labels that each got.

#3520 chore(spanner): remove unused file
  .kokoro/readme.sh
  synth.metadata
Labels: api: spanner, size: s

#3521 chore(spanner): Fix permission issue in running nightly job
  .kokoro/nightly/integration-directpath-enabled.cfg
Labels: api: spanner, size: xs

#3516 chore: make library generation required
  .github/sync-repo-settings.yaml
  .repo-metadata.json
  README.md
Labels: api: spanner, size: s

#3435 chore: Use Protobuf Message instead of GeneratedMessageV3
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: s

#3524 docs: add Multi Region Encryption samples
  README.md
  samples/snippets/src/main/java/com/example/spanner/CopyBackupWithMultiRegionEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/CreateBackupWithMultiRegionEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/CreateDatabaseWithMultiRegionEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/RestoreBackupWithMultiRegionEncryptionKey.java
Labels: api: spanner, samples, size: l

#3519 feat: Add Metrics host for built in metrics
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, automerge, owlbot:run, size: m

#3471 chore(spanner): support multiplexed session for rw transactions in ex…
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/spanner/SessionPoolOptionsHelper.java
Labels: do not merge, api: spanner, size: s

#3533 chore: remove unused code and fix some warnings
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
Labels: api: spanner, size: s

#3231 feat(spanner): support multiplexed session for Partitioned operations
  .github/workflows/ci.yaml
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  google-cloud-spanner-executor/src/main/java/com/google/cloud/spanner/SessionPoolOptionsHelper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractMultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedMultiplexedSessionTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchTransactionIdTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
Labels: api: spanner, size: l

#3535 test: enable more tests on the Emulator
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITAsyncTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDMLTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDmlReturningTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITFloat32Test.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITForeignKeyDeleteCascadeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITJsonWriteReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITLargeReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPgJsonbTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITPgNumericTest.java
Labels: api: spanner, size: l

#3522 ci(spanner): Fix nightly job issues
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/slow/ITBackupTest.java
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/spanner/AddAndDropDatabaseRole.java
  samples/snippets/src/main/java/com/example/spanner/PgSpannerSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/AddAndDropDatabaseRole.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/CreateSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/PgSpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/CreateIncrementalBackupScheduleSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/CreateInstancePartitionSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/DatabaseRolesIT.java
  samples/snippets/src/test/java/com/example/spanner/SampleTestBaseV2.java
  samples/snippets/src/test/java/com/example/spanner/SpannerGraphSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/archived/CustomInstanceConfigSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/archived/DatabaseRolesIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/archived/PgSpannerSampleIT.java
Labels: api: spanner, size: m

#3532 feat: support 'set local' for retry_aborts_internally
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementSetExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStateMockServerTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#3540 feat: add opt-in for using multiplexed sessions for blind writes
  google-cloud-spanner-executor/clirr-ignored-differences.xml
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/spanner/SessionPoolOptionsHelper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
Labels: api: spanner, size: s

#3542 ci(spanner): clean up unused kokoro configurations
  .kokoro/continuous/java8.cfg
  .kokoro/nightly/java7.cfg
  .kokoro/nightly/java8-win.cfg
  .kokoro/presubmit/clirr.cfg
  .kokoro/presubmit/integration-cloud-devel.cfg
  .kokoro/presubmit/java11-samples.cfg
  .kokoro/presubmit/java11.cfg
  .kokoro/presubmit/java7.cfg
  .kokoro/presubmit/java8-osx.cfg
  .kokoro/presubmit/java8-samples.cfg
  .kokoro/presubmit/java8-win.cfg
  .kokoro/presubmit/java8.cfg
  .kokoro/presubmit/linkage-monitor.cfg
  .kokoro/presubmit/lint.cfg
  .kokoro/presubmit/samples.cfg
  owlbot.py
  synth.metadata
Labels: api: spanner, owlbot:ignore, size: m

#3545 test(spanner): Enabled multiplexed session for partitioned operations…
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: xs

#3551 chore: reset default to platform thread
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
Labels: api: spanner, size: xs

#3550 chore: make state field volatile in AsyncResultSetImpl
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSetImpl.java
Labels: api: spanner, size: s

#3546 chore: make valid connection properties public
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperty.java
Labels: api: spanner, size: m

#3536 feat(spanner): add jdbc support for external hosts
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, size: m

#3558 ci(spanner): improve performance of samples tests
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner, samples, size: s

#3561 test: unflake RetryOnInvalidatedSessionTest
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
Labels: api: spanner, automerge, size: xs

#3529 test: enable write tests for PostgreSQL
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
Labels: api: spanner, size: m

#3566 chore: include session min/max in error message
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, size: s

#3565 fix: retry specific internal errors
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/IsRetryableInternalError.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerErrorInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IsRetryableInternalErrorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryableInternalErrorTest.java
Labels: api: spanner, size: m

#3567 chore: disable native metrics when there are no credentials
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, size: s

#3544 feat: add support for ARRAY<STRUCT> to CloudCilentExecutor
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, automerge, size: m

#3570 fix: update max_in_use_session at 10 mins interval
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, automerge, size: m
