Repository googleapis/java-spanner, pull requests merged in 2024-03, with the labels that each got.

#2739 test: add a default benchmark for measuring baselines.
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractLatencyBenchmark.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BenchmarkingUtilityScripts.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DefaultBenchmark.java
Labels: api: spanner, automerge, size: l

#2937 test: support float32 in mock server
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AllTypesMockServerTest.java
Labels: api: spanner, automerge, size: l

#2929 chore: next release from main branch is 6.56.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: s

#2931 docs(samples): add tag to statement timeout sample
  samples/snippets/src/main/java/com/example/spanner/StatementTimeoutExample.java
Labels: api: spanner, samples, size: xs

#2695 chore: keep session pool ordering when pinging
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
Labels: api: spanner, size: m

#2950 feat: allow attempt direct path xds via env var
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
Labels: api: spanner, automerge, size: xs

#2953 fix: return type of max commit delay option.
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
Labels: api: spanner, automerge, size: s

#2949 refactor: generalize skip methods
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SpannerStatementParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, automerge, size: l

#2951 perf: keep comments when searching for params
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SpannerStatementParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, automerge, size: l

#2792 chore: randomize session pool order based on TPS
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
Labels: api: spanner, size: m

#2960 chore: add session pool options for multiplexed session.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
Labels: api: spanner, size: m

#2961 chore: add new members in SessionImpl for multiplexed session. Add a …
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionClientTests.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, size: m

#2964 chore: generalise session pool class for multiplexed session.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolAsyncTransactionManager.java
Labels: api: spanner, size: m

#2962 ci: replace projectID for integration tests
  .kokoro/nightly/integration-directpath-enabled.cfg
  .kokoro/nightly/integration.cfg
Labels: api: spanner, owlbot:ignore, size: xs

#2970 chore: remove tag restrictions in Connection API
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#2976 test: fix ITDatabaseAdminTest failures
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
  owlbot.py
Labels: api: spanner, size: s

#2973 chore: add multiplexed session implementations for CachedSession/SessionFuture interfaces.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
Labels: api: spanner, size: l
