Repository googleapis/java-spanner, pull requests merged in 2024-06, with the labels that each got.

#3095 feat: add option to enable ApiTracer
  .readme-partials.yaml
  README.md
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenTelemetryApiTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenTelemetryApiTracerFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/FailOnOverkillTraceComponentImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenCensusApiTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryApiTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITEmulatorConcurrentTransactionsTest.java
Labels: api: spanner, size: xl

#3153 chore: add wait for async span
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
Labels: api: spanner, size: xs

#3151 chore: add wait to test to prevent flakiness
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: api: spanner, size: s

#3150 chore: propagate RuntimeException from DelayedReadContext
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedReadContext.java
Labels: api: spanner, size: xs

#3148 chore: add transaction.retried attribute to traces
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/OpenTelemetryTracingTest.java
Labels: api: spanner, size: xs

#3163 chore: Composite Tracer
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracerFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/CompositeTracerTest.java
Labels: api: spanner, automerge, size: l

#3147 fix: remove unused DmlBatch span
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
Labels: api: spanner, size: s

#3167 fix: do not end transaction span when rolling back to savepoint
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/OpenTelemetryTracingTest.java
Labels: api: spanner, size: m

#3176 test(spanner): update non-retryable error code in unit tests
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: s

#3171 chore: cleanup SessionPoolOptions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
Labels: api: spanner, size: m

#3181 deps: update dependencies
  benchmarks/pom.xml
  samples/native-image/pom.xml
  samples/pom.xml
Labels: api: spanner, size: s
