Repository googleapis/java-spanner, pull requests merged in 2024-08, with the labels that each got.

#3215 feat(spanner): set manual affinity incase of gRPC-GCP extenstion
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
Labels: api: spanner, size: s

#3221 feat(spanner): add samples for instance partitions
  samples/snippets/src/main/java/com/example/spanner/CreateInstancePartitionSample.java
  samples/snippets/src/test/java/com/example/spanner/CreateInstancePartitionSampleIT.java
Labels: api: spanner, samples, size: m

#3237 chore: unflake SavepointMockServerTest
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SavepointMockServerTest.java
Labels: api: spanner, size: m

#3198 build: run graalvm integration tests on emulator
  .kokoro/build.sh
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
Labels: api: spanner, size: s

#3228 chore(spanner): Update instance region
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
  samples/native-image/src/main/java/com/example/spanner/InstanceOperations.java
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceExample.java
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithAutoscalingConfigExample.java
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithProcessingUnitsExample.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/CreateInstanceExample.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/CreateInstanceWithAutoscalingConfigExample.java
  samples/snippets/src/main/java/com/example/spanner/admin/archived/CreateInstanceWithProcessingUnitsExample.java
Labels: api: spanner, size: s

#3243 deps: bump sdk-platform-java-config to 3.33.0
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-spanner-bom/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  pom.xml
Labels: api: spanner, size: s

#3248 test: speed up ITDmlReturningTest
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITDmlReturningTest.java
Labels: api: spanner, size: m

#3249 build: increase parallelism for integration tests
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITBulkConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITQueryOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncAPITest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
Labels: api: spanner, size: s

#3245 chore: improve test execution speed
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GfeLatencyTest.java
Labels: api: spanner, size: m

#3250 deps: update all dependencies
  benchmarks/pom.xml
  google-cloud-spanner/pom.xml
  pom.xml
  samples/install-without-bom/pom.xml
  samples/native-image/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner, size: s

#3257 chore: unflake ITAsyncAPITest.invalidDatabase
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncAPITest.java
Labels: api: spanner, size: s

#3252 chore: unflake blockAndTimeoutOnPoolExhaustion_withAcquireSessionTimeout
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: s

#3254 chore: unflake OpenTelemetrySpanTest.transactionRunnerWithFailedAndBeginTransaction
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
Labels: api: spanner, size: s

#3258 chore: unflake asyncTransactionManagerWaitsUntilAsyncBatchUpdateHasFinished
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: s

#3259 chore: unflake AsyncTransactionManagerTests
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: m

#3260 chore: unflake ITAutogeneratedAdminClientTest
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAutogeneratedAdminClientTest.java
Labels: api: spanner, size: xs

#3280 fix: make DecodeMode.DIRECT the default
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, size: s

#3273 chore: add experimental feature for retrying on different gRPC channel
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ErrorHandler.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResumableStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/RetryOnDifferentGrpcChannelErrorHandler.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/RetryOnDifferentGrpcChannelException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerRetryHelper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnDifferentGrpcChannelMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
Labels: api: spanner, size: l

#3276 feat: add option for cancelling queries when closing client
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/IsChannelShutdownException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/CloseSpannerWithOpenResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
Labels: api: spanner, size: l

#3234 docs: create a few code snippets as examples for using Spanner Graph using Java
  samples/snippets/src/main/java/com/example/spanner/SpannerGraphSample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerGraphSampleIT.java
Labels: api: spanner, size: l

#3267 fix: synchronize lazy ResultSet decoding
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DecodeModeTest.java
Labels: api: spanner, size: l

#3232 fix: github workflow vulnerable to script injection
  .github/workflows/hermetic_library_generation.yaml
Labels: api: spanner, size: s

#3288 chore(spanner): add stack trace
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: s

#3295 docs: change the example timestamps in Spanner Graph java sample code
  samples/snippets/src/main/java/com/example/spanner/SpannerGraphSample.java
Labels: api: spanner, automerge, samples, size: xs

#3305 chore: skip clirr 7012 exceptions with grpc admin package
  grpc-google-cloud-spanner-admin-instance-v1/clirr-ignored-differences.xml
Labels: api: spanner, size: xs

#3210 chore: remove native image sample in favor of sample hosted in google-cloud-java
  samples/native-image/README.md
  samples/native-image/pom.xml
  samples/native-image/src/main/java/com/example/spanner/DatabaseOperations.java
  samples/native-image/src/main/java/com/example/spanner/InstanceOperations.java
  samples/native-image/src/main/java/com/example/spanner/NativeImageSpannerSample.java
  samples/native-image/src/test/java/com/example/spanner/NativeImageSpannerSampleIT.java
  samples/pom.xml
Labels: api: spanner, samples, size: l

#3310 chore: temporary fix for hermetic library generation workflow
  .github/workflows/hermetic_library_generation.yaml
Labels: api: spanner, size: xs

#3314 fix: use core pool size 1 for maintainer
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
Labels: api: spanner, automerge, size: xs
