Repository googleapis/java-spanner, pull requests merged in 2024-09, with the labels that each got.

#3317 chore(spanner): support transaction channel hint for RW mux
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: s

#3320 chore: remove unused image tag in .OwlBot-hermetic.yaml
  .github/.OwlBot-hermetic.yaml
Labels: api: spanner, size: xs

#3316 chore(spanner): update executor build to thin jar
  google-cloud-spanner-executor/assembly-descriptor.xml
  google-cloud-spanner-executor/pom.xml
Labels: api: spanner, size: m

#3327 chore(spanner): add package protected setter to enable mux for RW
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
Labels: api: spanner, size: m

#3319 chore: fix hermetic_library_generation fork check
  .github/workflows/hermetic_library_generation.yaml
Labels: api: spanner, size: xs

#3325 refactor: use RpcPriority internally in the Connection API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RpcPriorityConverterTest.java
Labels: api: spanner, size: m

#3322 refactor: replace individual variables with ConnectionProperty
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectedReadOptionsUtil.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyStalenessUtil.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DurationConverterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PgDurationConverterTest.java
Labels: api: spanner, size: xl

#3324 refactor: use java.time.Duration in Connection API
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyStalenessUtil.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ClientSideStatementsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DurationConverterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PgDurationConverterTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#3331 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-spanner-admin-database-v1/clirr-ignored-differences.xml
  proto-google-cloud-spanner-admin-instance-v1/clirr-ignored-differences.xml
  proto-google-cloud-spanner-executor-v1/clirr-ignored-differences.xml
  proto-google-cloud-spanner-v1/clirr-ignored-differences.xml
Labels: api: spanner, size: m

#3229 feat: support multiplexed session for blind write with single use transaction
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/spanner/SessionPoolOptionsHelper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractMultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedMultiplexedSessionTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, size: l

#3335 test: ignore if the mock server failed to return a row
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/CloseSpannerWithOpenResultSetTest.java
Labels: api: spanner, size: s

#3125 chore: client metrics
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsView.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBuiltInMetricsTest.java
Labels: kokoro:run, api: spanner, size: l

#3345 chore: append gRPC error message for debugging
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudExecutor.java
Labels: api: spanner, size: s

#3339 feat: Add samples for backup schedule feature APIs.
  samples/snippets/src/main/java/com/example/spanner/CreateFullBackupScheduleSample.java
  samples/snippets/src/main/java/com/example/spanner/CreateIncrementalBackupScheduleSample.java
  samples/snippets/src/main/java/com/example/spanner/DeleteBackupScheduleSample.java
  samples/snippets/src/main/java/com/example/spanner/GetBackupScheduleSample.java
  samples/snippets/src/main/java/com/example/spanner/ListBackupSchedulesSample.java
  samples/snippets/src/main/java/com/example/spanner/UpdateBackupScheduleSample.java
  samples/snippets/src/test/java/com/example/spanner/CreateFullBackupScheduleSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/CreateIncrementalBackupScheduleSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/DeleteBackupScheduleSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/GetBackupScheduleSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/ListBackupSchedulesSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/UpdateBackupScheduleSampleIT.java
Labels: api: spanner, samples, size: l

#3346 chore: built-in metrics attributes
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
Labels: api: spanner, automerge, size: s

#3326 feat: enable transactional connection state as an opt-in
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionState.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DmlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStateMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStateTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/CredentialsProviderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DmlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/NoopEndTransactionCallback.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadOnlyTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadWriteTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SingleUseTransactionTest.java
Labels: api: spanner, size: l

#3162 feat: Add opt-in flag and ClientInterceptor to propagate trace context for Spanner end to end tracing
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerInterceptorProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/TraceContextInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsHelper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProviderTest.java
Labels: api: spanner, size: l

#3351 chore: use composite action
  .github/scripts/hermetic_library_generation.sh
  .github/workflows/hermetic_library_generation.yaml
Labels: api: spanner, size: m
