Repository googleapis/java-spanner, pull requests merged in 2024-11, with the labels that each got.

#3408 feat: client built in metrics
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, size: s

#3441 chore(spanner): handle server side kill switch of R/W multiplexed sessions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, size: l

#3447 fix: Client built in metrics. Skip export if instance id is null
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterUtils.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
Labels: api: spanner, size: m

#3420 docs: update samples' README.md to ensure given commands run samples.
  samples/README.md
Labels: api: spanner, samples, size: s

#3264 chore: Add changes in Spanner executor for testing end to end tracing
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudExecutorImpl.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudUtil.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/WorkerProxy.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/TraceContextInterceptor.java
Labels: api: spanner, size: l

#3449 chore(spanner): handle commit retry protocol extension for mux rw
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, automerge, size: m

#3446 fix(spanner): Avoid blocking thread in AsyncResultSet
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncResultSetImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcValueIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResumableStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StreamingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StreamingUtil.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
Labels: api: spanner, size: l

#3469 chore(executor): print stack trace for exceptions
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: m

#3450 chore(samples): Add samples for Cloud Spanner Default Backup Schedules
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithoutDefaultBackupSchedulesExample.java
  samples/snippets/src/main/java/com/example/spanner/UpdateInstanceDefaultBackupScheduleTypeExample.java
  samples/snippets/src/test/java/com/example/spanner/SpannerSampleIT.java
Labels: api: spanner, samples, size: m

#3477 fix: directpath enabled attribute
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GrpcSpannerStubWithStubSettingsAndClientContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerInterceptorProvider.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, size: m

#3493 chore(spanner): fix EOL in spanner documentation
  generation_config.yaml
Labels: api: spanner, size: xs

#3496 fix(spanner): getEdition() is returning null for Instance
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Instance.java
Labels: api: spanner, size: xs

#3494 chore(spanner): use different project for directpath presubmit integration tests
  .kokoro/build.sh
  .kokoro/presubmit/integration-directpath-enabled.cfg
Labels: api: spanner, size: xs

#3480 feat: add option for retrying DML as PDML
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionMutationLimitExceededException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AutocommitDmlMode.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/TransactionRetryListener.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/TransactionRetryListenerImpl.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RetryDmlAsPartitionedDmlMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITRetryDmlAsPartitionedDmlTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#3518 fix: shutdown built in metrics meter provider
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProvider.java
Labels: api: spanner, automerge, owl-bot-copy, size: xs
