Repository googleapis/java-spanner, pull requests merged in 2024-04, with the labels that each got.

#2977 chore: clean up some warnings and malformed comments
  .kokoro/nightly/integration.cfg
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
Labels: api: spanner, size: m

#2969 feat: add endpoint connection URL property
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, size: m

#2736 feat: add PG OID support
  .gitignore
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Struct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Type.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ValueBinder.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractStructReaderTypesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueBinderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AllTypesMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ChecksumResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
Labels: api: spanner, size: xl

#2975 chore: add a metric label is_multiplexed for multiplexed session.
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MetricRegistryConstants.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, automerge, size: m

#3023 refactor: remove code related to prepareReadWriteTransactions.
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Session.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
Labels: api: spanner, size: m

#3024 chore: add a new integration test runner for multiplexed sessions.
  .kokoro/build.sh
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
Labels: api: spanner, automerge, size: m

#2982 chore: create create/get methods for multiplexed session.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BaseSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: l

#3028 chore: add a CI target to run emulator integration tests using multip…
  .github/workflows/integration-tests-against-emulator-with-multiplexed-session.yaml
Labels: api: spanner, automerge, size: s

#3029 chore: add a CI target to run unit tests using multiplexed sessions
  .github/workflows/ci.yaml
Labels: api: spanner, automerge, size: s

#3027 refactor: support multiple active transactions and traces for multipl…
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionReference.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BaseSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
Labels: api: spanner, automerge, size: l

#3003 chore: update Spanner owner to rahul2393
  .github/blunderbuss.yml
  README.md
Labels: api: spanner, automerge, size: xs

#3036 fix: NullPointerException on AbstractReadContext.span
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanExceptionTest.java
Labels: api: spanner, size: m

#3041 chore: fix all unit tests with multiplexed sessions.
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BaseSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchCreateSessionsSlowTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ChannelUsageTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerGaxRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PartitionedQueryMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITClosedSessionTest.java
Labels: api: spanner, size: xl

#3005 feat: support client-side hints for tags and priority
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Statement.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SimpleParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementHintParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SimpleParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementHintParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/TaggingTest.java
Labels: api: spanner, automerge, size: xl

#3025 chore: support overlapping transactions for the emulator
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbortedException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractMultiUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITEmulatorConcurrentTransactionsTest.java
Labels: api: spanner, automerge, size: l

#3044 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
Labels: api: spanner, size: xs

#3040 chore: use a singleton session pool clock
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Clock.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BaseSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/FailOnOverkillTraceComponentImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionClientTests.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
Labels: api: spanner, size: l

#3039 test: Add ResumableStreamIterator tests for RESOURCE_EXHAUSTED error code
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerGaxRetryTest.java
Labels: api: spanner, automerge, size: m

#2760 feat: remove grpclb
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GceTestEnvConfig.java
Labels: api: spanner, automerge, size: s

#2941 docs: add a sample for max commit delays
  README.md
  samples/snippets/src/main/java/com/example/spanner/SetMaxCommitDelaySample.java
  samples/snippets/src/test/java/com/example/spanner/SetMaxCommitDelaySampleIT.java
Labels: api: spanner, automerge, samples, size: m

#3030 chore(spanner): add multiplexed session flag in executor code
  google-cloud-spanner-executor/clirr-ignored-differences.xml
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudExecutorImpl.java
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/WorkerProxy.java
Labels: api: spanner, size: m

#3061 chore: mark multiplexed session unit test as required
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: xs

#3062 test: add job for running multiplexed session test using Java 8 runtime
  .github/workflows/ci.yaml
Labels: api: spanner, size: s

#3068 chore: adding a benchmark utility in client.
  benchmarks/README.md
  benchmarks/pom.xml
  benchmarks/src/main/java/com/google/cloud/spanner/SessionPoolOptionsHelper.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/AbstractRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/BenchmarkRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/JavaClientRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/LatencyBenchmark.java
Labels: api: spanner, automerge, size: l

#3056 chore: Support FLOAT32 in Cloud Client Executor
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITFloat32Test.java
Labels: api: spanner, automerge, size: m

#3065 chore: add a random channel hint with single use transactions while u…
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
Labels: api: spanner, size: xs
