Repository googleapis/java-spanner, pull requests merged in 2024-02, with the labels that each got.

#2857 test: disable proto column tests
  README.md
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITProtoColumnTest.java
Labels: api: spanner, size: s

#2855 feat: support Directed Read in Connection API
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectedReadOptionsUtil.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadOnlyTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/StatementResult.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/ClientSideStatements.json
  google-cloud-spanner/src/main/resources/com/google/cloud/spanner/connection/PG_ClientSideStatements.json
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ClientSideStatementsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectedReadOptionsUtilTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectedReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/Repeat.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ClientSideStatementsTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: xl

#2863 chore: remove drop protection before cleanup
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/testing/RemoteSpannerHelper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseAdminTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITDatabaseTest.java
Labels: api: spanner, automerge, size: l

#2793 chore: fix session acquire timeout test
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: s

#2866 fix: ignore UnsupportedOperationException for virtual threads
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ThreadFactoryUtil.java
Labels: api: spanner, automerge, size: s

#2860 fix: use default query options with statement cache
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/QueryOptionsTest.java
Labels: api: spanner, size: m

#2770 feat: Open telemetry implementation
  .gitignore
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/IScope.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ISpan.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MetricRegistryConstants.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenCensusScope.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenCensusSpan.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenTelemetryScope.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenTelemetrySpan.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/PartitionedDmlTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerRpcMetrics.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TraceUtil.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TraceWrapper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerInterceptorProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpcViews.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/FailOnOverkillTraceComponentImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ITSessionPoolIntegrationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionClientTests.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionContextImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GfeLatencyTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/SpannerRpcMetricsTest.java
  pom.xml
  samples/snippets/src/main/java/com/example/spanner/TracingSample.java
Labels: api: spanner, automerge, size: xl

#2862 fix: cast for Proto type
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
Labels: api: spanner, size: s

#2865 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-spanner-bom/pom.xml
  owlbot.py
  pom.xml
Labels: api: spanner, size: s

#2848 perf: calculate checksum using protobuf values
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ProtobufResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ChecksumResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DecodeModeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectExecuteResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadWriteTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSetTest.java
Labels: api: spanner, size: xl

#2847 feat: support lazy decoding of query results
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DecodeMode.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ProtobufResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ChecksumResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DecodeModeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectExecuteResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadWriteTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSetTest.java
Labels: api: spanner, size: xl

#2846 refactor: move inner classes to top level
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DecodeMode.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcValueIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ProtobufResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResumableStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ChecksumResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsHelper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResumableStreamIteratorTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DecodeModeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DirectExecuteResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadWriteTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSetTest.java
Labels: api: spanner, size: xl

#2878 feat: support public methods to use autogenerated admin clients.
  README.md
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Spanner.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAutogeneratedAdminClientTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpcTest.java
Labels: api: spanner, size: l

#2886 chore: add a new directory for archived samples of admin APIs
  samples/snippets/src/main/java/com/example/spanner/admin/archived/.gitkeep
Labels: api: spanner, samples, size: u

#2880 docs: README for OpenTelemetry metrics and traces
  .readme-partials.yaml
  README.md
Labels: api: spanner, size: l

#2775 docs: samples and tests for database Admin APIs.
  README.md
  samples/pom.xml
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AddAndDropDatabaseRole.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AddJsonColumnSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AddJsonbColumnSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AddNumericColumnSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AlterSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/AlterTableWithForeignKeyDeleteCascadeSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateDatabaseWithDefaultLeaderSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateDatabaseWithVersionRetentionPeriodSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateInstanceExample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateTableWithForeignKeyDeleteCascadeSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/DropForeignKeyConstraintDeleteCascadeSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/DropSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/EnableFineGrainedAccess.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/GetDatabaseDdlSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/ListDatabaseRoles.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/ListDatabasesSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgAlterSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgCaseSensitivitySample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgCreateSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgDropSequenceSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgInterleavedTableSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/UpdateDatabaseSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/UpdateDatabaseWithDefaultLeaderSample.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/AlterTableWithForeignKeyDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/CreateDatabaseWithDefaultLeaderSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/CreateDatabaseWithVersionRetentionPeriodSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/CreateTableWithForeignKeyDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/DatabaseRolesIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/DropForeignKeyConstraintDeleteCascadeSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/GetDatabaseDdlSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/ListDatabasesIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/PgCaseSensitivitySampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/PgInterleavedTableSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/SampleTestBaseV2.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/SequenceSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/UpdateDatabaseSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/UpdateDatabaseWithDefaultLeaderSampleIT.java
Labels: api: spanner, automerge, samples, size: xl

#2890 chore: flaky test
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  pom.xml
Labels: api: spanner, automerge, size: m

#2897 fix: add ensureDecoded to proto type
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITProtoColumnTest.java
Labels: api: spanner, size: s

#2901 fix: fix write replace in grpcStruct
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
Labels: api: spanner, size: xs

#2898 chore: add a kokoro presubmit workflow to run on cloud-devel.
  .kokoro/build.sh
  .kokoro/presubmit/integration-cloud-devel.cfg
Labels: api: spanner, automerge, size: m

#2882 docs: samples and tests for backup Admin APIs and overall spanner Admin APIs.
  README.md
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CopyBackupSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateBackupWithEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/CreateDatabaseWithEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/PgSpannerSample.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/RestoreBackupWithEncryptionKey.java
  samples/snippets/src/main/java/com/example/spanner/admin/generated/SpannerSample.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/CopyBackupIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/EncryptionKeyIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/PgSpannerSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/admin/generated/SpannerSampleIT.java
Labels: api: spanner, automerge, samples, size: xl

#2925 fix: flaky test issue due to AbortedException.
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
Labels: api: spanner, size: xs

#2894 feat: support float32 type
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Mutation.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Struct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Type.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ValueBinder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractStructReaderTypesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MutationTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ReadFormatTestRunner.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueBinderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ChecksumResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITFloat32Test.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
Labels: api: spanner, size: xl

#2933 chore: fix float32 NaN comparison + deprecate generator
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncResultSetImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/MergedResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PartitionedQueryMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
Labels: api: spanner, size: m
