Repository googleapis/java-spanner, pull requests merged in 2024-07, with the labels that each got.

#3141 feat: support multiplexed sessions for RO transactions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator-with-multiplexed-session.yaml
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientTest.java
Labels: api: spanner, size: m

#3173 feat: include thread name in traces
  .readme-partials.yaml
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/OpenTelemetryContextKeys.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TraceWrapper.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/OpenTelemetryTracingTest.java
Labels: api: spanner, automerge, size: m

#3195 chore: traces documentation
  .readme-partials.yaml
  README.md
Labels: api: spanner, automerge, size: m

#3197 fix: SessionPoolOptions.Builder#toBuilder() skipped useMultiplexedSessions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
Labels: api: spanner, automerge, size: m

#3201 chore: make the owlbot postprocessor check non-required
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: xs

#3202 chore: disable the Owl Bot post-processor
  .github/.OwlBot.lock.yaml
Labels: api: spanner, size: s

#3205 chore(executor): print exception stacktrace in executor
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: xs

#3180 feat: support Read RPC OrderBy
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
Labels: api: spanner, size: m

#3213 chore: remove formatting workflow
  .github/workflows/formatting.yaml
Labels: api: spanner, size: s

#3216 fix: make sure commitAsync always finishes
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionContextImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
Labels: api: spanner, size: m

#3222 chore: skip clirr 7012 exceptions with grpc admin package
  grpc-google-cloud-spanner-admin-database-v1/clirr-ignored-differences.xml
Labels: api: spanner, size: xs

#3227 test: do not use RESOURCE_EXHAUSTED as it is retryable
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchCreateSessionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
Labels: api: spanner, size: xs

#3156 chore: remove unused multiplexed session code
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionMaintainerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
Labels: api: spanner, size: xl

#3230 chore: setup 6.66.x lts branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: s
