Repository googleapis/java-spanner, pull requests merged in 2025-09, with the labels that each got.

#4046 fix: potential NullPointerException in Value#hashCode
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
Labels: api: spanner, size: xs

#4055 feat: TPC support
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionOptionsTest.java
Labels: api: spanner, size: m

#4054 chore: fix tag for isolation level sample
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, samples, size: xs

#4092 fix: potential NullPointerException in LocalConnectionChecker
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/LocalConnectionChecker.java
Labels: api: spanner, size: xs

#4037 test: Add integration test to check that requests with large message sizes that are under the limit succeed
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
Labels: api: spanner, automerge, size: s
