Repository googleapis/java-spanner, pull requests merged in 2025-06, with the labels that each got.

#3830 feat: Last statement sample
  samples/snippets/src/main/java/com/example/spanner/LastStatementSample.java
  samples/snippets/src/main/java/com/example/spanner/PgLastStatementSample.java
  samples/snippets/src/test/java/com/example/spanner/LastStatementSampleIT.java
  samples/snippets/src/test/java/com/example/spanner/PgLastStatementSampleIT.java
Labels: api: spanner, automerge, samples, size: l

#3904 feat: enable ALTS hard bound token in DirectPath
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
Labels: api: spanner, size: xs

#3916 fix: allow zero durations to be set for connection properties
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementValueConverters.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DurationConverterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/MaxCommitDelayTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PgDurationConverterTest.java
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/ConnectionImplGeneratedSqlScriptTest.sql
  google-cloud-spanner/src/test/resources/com/google/cloud/spanner/connection/postgresql/ConnectionImplGeneratedSqlScriptTest.sql
Labels: api: spanner, size: l

#3625 docs: Update SpannerSample.java to align with best practices
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, size: s

#3917 feat: Use multiplexed sessions for read-only transactions
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator-with-regular-session.yaml
  .kokoro/presubmit/integration-regular-sessions-enabled.cfg
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnDifferentGrpcChannelMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TestHelper.java
Labels: api: spanner, size: m

#3908 docs: Add snippet for Repeatable Read configuration at client and transaction
  samples/snippets/src/main/java/com/example/spanner/SpannerSample.java
Labels: api: spanner, size: s

#3898 chore(x-goog-spanner-request-id): enable tests for more RPCs
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerException.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/PartitionedDmlTransactionTest.java
Labels: api: spanner, size: s
