Repository googleapis/java-spanner, pull requests merged in 2025-05, with the labels that each got.

#3853 chore(deps): update all deps
  .github/workflows/hermetic_library_generation.yaml
  .github/workflows/samples.yaml
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/presubmit/graalvm-native-a.cfg
  .kokoro/presubmit/graalvm-native-b.cfg
  .kokoro/presubmit/graalvm-native-c.cfg
  benchmarks/pom.xml
  generation_config.yaml
  google-cloud-spanner-bom/pom.xml
  google-cloud-spanner-executor/pom.xml
  google-cloud-spanner/pom.xml
  pom.xml
  samples/install-without-bom/pom.xml
  samples/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: spanner, size: m

#3851 fix: change server timing duration attribute to float as per w3c
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsRecorder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractNettyMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, size: m

#3852 feat: enable AFE and gRPC metrics for DP
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, size: m

#3849 docs: Add samples for unnamed (positional) parameters
  .kokoro/presubmit/samples.cfg
  README.md
  samples/snippets/src/main/java/com/example/spanner/DatabaseAddSplitPointsSample.java
  samples/snippets/src/main/java/com/example/spanner/UnnamedParametersExample.java
  samples/snippets/src/test/java/com/example/spanner/UnnamedParametersIT.java
Labels: api: spanner, samples, size: m

#3871 ci: Fix UUID tests which is failing in cloud-devel
  .kokoro/presubmit/graalvm-native-a.cfg
  .kokoro/presubmit/graalvm-native-b.cfg
  .kokoro/presubmit/graalvm-native-c.cfg
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITUuidTest.java
Labels: api: spanner, size: xs

#3879 fix: remove trailing semicolons in DDL
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlTest.java
Labels: api: spanner, size: m

#3882 chore: update benchmarking script
  benchmarks/pom.xml
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/AbstractRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/BenchmarkRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/BenchmarkingConfiguration.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/JavaClientRunner.java
  benchmarks/src/main/java/com/google/cloud/spanner/benchmark/LatencyBenchmark.java
Labels: api: spanner, size: l

#3885 ci: disable split points IT
  samples/snippets/src/test/java/com/example/spanner/DatabaseAddSplitPointsIT.java
Labels: api: spanner, size: xs

#3883 chore: enable experimentalHost support for pgAdapter
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
Labels: api: spanner, size: s

#3841 chore: support UUID in Cloud Client Executor
  google-cloud-spanner-executor/src/main/java/com/google/cloud/executor/spanner/CloudClientExecutor.java
Labels: api: spanner, size: s

#3815 chore(x-goog-spanner-request-id): plumb for BatchCreateSessions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/XGoogSpannerRequestId.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionClientTests.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/XGoogSpannerRequestIdTest.java
Labels: api: spanner, size: l

#3896 feat: enable grpc and afe metrics
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
Labels: api: spanner, size: m

#3897 fix: directpath_enabled attribute
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerInterceptorProvider.java
Labels: api: spanner, size: s
