Repository googleapis/java-spanner, pull requests merged in 2025-01, with the labels that each got.

#3576 feat: Improve tracing by adding attributes
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TraceWrapper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/IntegrationTestWithClosedSessionsEnv.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
Labels: api: spanner, size: m

#3577 chore(spanner): fix unit tests for mux rw
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/InlineBeginTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryApiTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnInvalidatedSessionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolLeakTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionChannelHintTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TransactionRunnerImplTest.java
Labels: api: spanner, size: l

#3580 fix: AsyncTransactionManager did not always close the session
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolAsyncTransactionManager.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: s

#3559 feat: add transaction runner for connections
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/TransactionRunnerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/UnitOfWork.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RunTransactionMockServerTest.java
Labels: api: spanner, size: l

#3584 chore(spanner): unflake unit tests
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStreamIterator.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResumableStreamIterator.java
Labels: api: spanner, size: s

#3574 feat(spanner): mTLS setup for spanner external host clients
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerPool.java
Labels: api: spanner, size: m

#3588 feat: add LockHint feature
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractReadContextTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OptionsTest.java
Labels: api: spanner, size: m

#3595 feat: add gcp client attributes in OpenTelemetry traces
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TraceWrapper.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
Labels: api: spanner, automerge, size: s

#3598 chore(spanner): fix unit tests for mux read-write
  .github/workflows/ci.yaml
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetrySpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/RetryOnDifferentGrpcChannelMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpanTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbortedTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ITAbstractSpannerTest.java
Labels: api: spanner, size: l

#3605 fix(spanner): moved mTLSContext configurator from builder to construtor
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
Labels: api: spanner, size: s

#3586 feat: support graph and pipe queries in Connection API
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, automerge, size: m

#3602 docs: fixed parameter arguments for AbstractResultSet's Listener's on TransactionMetadata doc
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
Labels: api: spanner, size: xs

#3470 chore(spanner): add multiplexed session support for batch write
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractMultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedMultiplexedSessionTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, size: m

#3615 chore(spanner):- Update CODEOWNERS
  .github/CODEOWNERS
Labels: api: spanner, size: xs

#3562 feat: Add sample for asymmetric autoscaling instances
  README.md
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithAsymmetricAutoscalingConfigExample.java
  samples/snippets/src/test/java/com/example/spanner/CreateInstanceWithAsymmetricAutoscalingConfigSampleIT.java
Labels: api: spanner, automerge, samples, size: m

#3617 ci(spanner): Enable directpath in Kokoko jobs
  .kokoro/continuous/integration-cloud-devel-directpath-enabled.cfg
  .kokoro/continuous/integration-cloud-staging-directpath-enabled.cfg
  .kokoro/nightly/integration-cloud-devel-directpath-enabled.cfg
  .kokoro/nightly/integration-cloud-staging-directpath-enabled.cfg
  .kokoro/nightly/integration-directpath-enabled.cfg
  .kokoro/presubmit/integration-directpath-enabled.cfg
Labels: api: spanner, size: s

#3098 docs(samples): add samples and tests for change streams transaction exclusion
  samples/snippets/src/main/java/com/example/spanner/ChangeStreamsTxnExclusionSample.java
  samples/snippets/src/test/java/com/example/spanner/ChangeStreamsTxnExclusionSampleIT.java
Labels: api: spanner, automerge, samples, size: m

#3618 ci(spanner): Remove GOOGLE_CLOUD_ENABLE_DIRECT_PATH_XDS env variable
  .kokoro/continuous/integration-cloud-devel-directpath-enabled.cfg
  .kokoro/continuous/integration-cloud-staging-directpath-enabled.cfg
  .kokoro/nightly/integration-cloud-devel-directpath-enabled.cfg
  .kokoro/nightly/integration-cloud-staging-directpath-enabled.cfg
  .kokoro/nightly/integration-directpath-enabled.cfg
  .kokoro/presubmit/integration-directpath-enabled.cfg
  README.md
Labels: api: spanner, size: s

#3571 chore(spanner): fix mutation only case in rw mux with aborted error
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, size: m
