Repository googleapis/java-spanner, pull requests merged in 2025-07, with the labels that each got.

#3936 fix: return non-empty metadata for DataBoost queries
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/MergedResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/MergedResultSetTest.java
Labels: api: spanner, size: m

#3952 chore: Add Exemplar Support in Cloud Monitoring Exporter
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterUtils.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
Labels: api: spanner, size: m

#3983 ci: Add tests for retry_info trailer
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ITTransactionRetryTest.java
Labels: api: spanner, size: m

#3989 chore: bump the max inbound message size from GRPC's default 4MB
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
Labels: api: spanner, automerge, size: xs

#3985 ci: configure the protected branch
  .github/workflows/ci.yaml
  .github/workflows/integration-tests-against-emulator-with-regular-session.yaml
  .github/workflows/integration-tests-against-emulator.yaml
Labels: api: spanner, size: l

#3998 chore: create LTS branch 6.95.x
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: s

#4001 chore: manual update of update_generation_config.sh
  .github/scripts/update_generation_config.sh
  .github/workflows/update_generation_config.yaml
Labels: api: spanner, size: s
