Repository googleapis/java-spanner, pull requests merged in 2025-02, with the labels that each got.

#3628 chore(spanner): fix tests cases for mux rw
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ITAbstractSpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITAsyncTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITSqlMusicScriptTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITJsonWriteReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
Labels: api: spanner, size: m

#3490 feat: Adding gfe_latencies metric to built-in metrics
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsRecorder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsTracerFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsView.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterUtils.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractNettyMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BuiltInOpenTelemetryMetricsProviderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBuiltInMetricsTest.java
Labels: api: spanner, automerge, size: l

#3627 ci(spanner): Fix nightly samples job failure for creating managed autoscalar instance
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithAutoscalingConfigExample.java
Labels: api: spanner, samples, size: xs

#3632 Revert "fix(spanner): end spans for read-write methods"
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
Labels: api: spanner, automerge, size: xs

#3636 chore(spanner): fix code and tests
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManagerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITAsyncExamplesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchDmlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBatchReadTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionTest.java
Labels: api: spanner, automerge, size: m

#3639 chore(spanner): test fixes
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncRunnerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: m

#3644 feat: add option to indicate that a statement is the last in a transaction
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractReadContext.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Options.java
Labels: api: spanner, size: m

#3638 fix(spanner): release resources in TransactionManager
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
Labels: api: spanner, size: s

#3649 chore(spanner): test fixes for mux rw
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITTransactionRetryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITTransactionManagerAsyncTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITWriteTest.java
Labels: api: spanner, automerge, size: s

#3650 ci(spanner): Fix nightly samples job failure for creating managed autoscalar instance
  README.md
  samples/snippets/src/main/java/com/example/spanner/admin/archived/CreateInstanceWithAutoscalingConfigExample.java
Labels: api: spanner, samples, size: xs

#3631 chore(spanner): Implement fallback for multiplexed session on Partitioned Operations
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BatchClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
Labels: api: spanner, size: m

#3643 chore(x-goog-spanner-request-id): commit foundation
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/XGoogSpannerRequestId.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/XGoogSpannerRequestIdTest.java
Labels: api: spanner, size: m

#3608 feat(spanner): support multiplexed session for read-write transactions
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
Labels: api: spanner, size: xs

#3635 feat: add option for multiplexed sessions with partitioned operations
  .github/workflows/integration-tests-against-emulator-with-multiplexed-session.yaml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/BatchClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AbstractMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PartitionedQueryMockServerTest.java
Labels: api: spanner, automerge, size: s

#3657 ci(spanner): Fix sample tests related to asymmetric autoscaling
  samples/snippets/src/main/java/com/example/spanner/CreateInstanceWithAsymmetricAutoscalingConfigExample.java
Labels: api: spanner, samples, size: xs

#3662 chore(spanner): Update codeowner team to TeamSync managed team
  .github/CODEOWNERS
  .repo-metadata.json
  generation_config.yaml
Labels: api: spanner, size: xs

#3656 feat: default authentication support for external hosts
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerOptionsTest.java
Labels: api: spanner, size: m

#3658 feat: automatically set default sequence kind in JDBC and PGAdapter
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MissingDefaultSequenceKindException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/Connection.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionProperties.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SingleUseTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/it/ITDdlTest.java
Labels: api: spanner, size: l

#3669 feat: next release from main branch is 6.89.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: s
