Repository googleapis/java-spanner, pull requests merged in 2025-04, with the labels that each got.

#3722 fix: add default implementations for Interval methods in AbstractStructReader
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
Labels: api: spanner, size: s

#3723 feat: add TransactionMutationLimitExceededException as cause to SpannerBatchUpdateException
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerBatchUpdateException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionMutationLimitExceededException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RetryDmlAsPartitionedDmlMockServerTest.java
Labels: api: spanner, size: m

#3811 ci: change presubmit jobs to run against cloud-devel
  .kokoro/build.sh
  .kokoro/presubmit/integration-directpath-enabled.cfg
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  .kokoro/presubmit/integration.cfg
Labels: api: spanner, size: m

#3800 perf: optimize parsing in Connection API
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Statement.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/PostgreSQLStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SpannerStatementParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserBenchmark.java
Labels: api: spanner, size: m

#3814 perf: cache the key used for OTEL traces and metrics
  README.md
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
Labels: api: spanner, size: s

#3724 feat: built in metrics for afe latency and connectivity error
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsRecorder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProvider.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractNettyMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProviderTest.java
Labels: api: spanner, size: l

#3818 Revert "feat: built in metrics for afe latency and connectivity error"
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsRecorder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/CompositeTracer.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/HeaderInterceptor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProvider.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractNettyMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/spi/v1/SpannerMetadataProviderTest.java
Labels: kokoro:force-run, api: spanner, size: l

#3822 perf: remove all calls to getSqlWithoutComments
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractBaseUnitOfWork.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/AbstractStatementParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementBeginExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementExplainExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementPartitionExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementPgBeginExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementRunPartitionExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementRunPartitionedQueryExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatementSetExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutor.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ConnectionStatementExecutorImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DdlClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DmlBatch.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReadWriteTransaction.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SimpleParser.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SingleUseTransaction.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ClientSideStatementsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionStatementWithOneParameterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DdlClientTests.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/DmlBatchTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ITAbstractSpannerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadOnlyTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SetPgSessionCharacteristicsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SingleUseTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, size: l

#3820 feat: support unnamed parameters
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClientImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClient.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerTypeConverter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Statement.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
Labels: api: spanner, size: l

#3709 feat: [Internal] open telemetry built in metrics for GRPC
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/pom.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsConstant.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/BuiltInMetricsProvider.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporter.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterUtils.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GapicSpannerRpc.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/OpenTelemetryBuiltInMetricsTracerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SpannerCloudMonitoringExporterTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITBuiltInMetricsTest.java
Labels: api: spanner, size: l

#3827 fix: skipHint in the internal parser skipped too much
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/SimpleParser.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SimpleParserTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/StatementParserTest.java
Labels: api: spanner, automerge, size: m

#3837 chore(spanner): fix tests
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolOptionsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITEndToEndTracingTest.java
Labels: api: spanner, automerge, size: xs

#3572 chore: support for UUID type
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ForwardingStructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/GrpcStruct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ResultSets.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Struct.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StructReader.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Type.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Value.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/ValueBinder.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/DirectExecuteResultSet.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ReplaceableForwardingResultSet.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AbstractStructReaderTypesTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/DatabaseClientImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/GrpcResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MockSpannerServiceImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ResultSetsTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/TypeTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueBinderTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/ValueTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/AllTypesMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ChecksumResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/MergedResultSetTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/PartitionedQueryMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/RandomResultSetGenerator.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITQueryTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITUuidTest.java
Labels: api: spanner, size: xl

#3835 feat: support begin with AbortedException for manager interface
  google-cloud-spanner/clirr-ignored-differences.xml
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbortedException.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/AsyncTransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedAsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/DelayedTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPoolAsyncTransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManager.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionManagerImpl.java
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionRunnerImpl.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/MultiplexedSessionDatabaseClientMockServerTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ConnectionImplTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/ReadWriteTransactionTest.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/connection/SingleUseTransactionTest.java
Labels: api: spanner, automerge, size: l

#3839 chore: add java.util.UUID as key part
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/Key.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/KeyTest.java
Labels: api: spanner, size: s

#3838 Revert "ci: change presubmit jobs to run against cloud-devel"
  .kokoro/build.sh
  .kokoro/presubmit/integration-directpath-enabled.cfg
  .kokoro/presubmit/integration-multiplexed-sessions-enabled.cfg
  .kokoro/presubmit/integration.cfg
Labels: api: spanner, size: m

#3844 fix: non-ASCII Unicode characters in code
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/StructReader.java
Labels: api: spanner, size: xs

#3846 fix: only close and return sessions once
  google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java
  google-cloud-spanner/src/test/java/com/google/cloud/spanner/AsyncTransactionManagerTest.java
Labels: api: spanner, size: m
